
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #F8F5F0;
$gray-300: #DFD7CA;
$gray-400: #ced4da;
$gray-500: #98978B;
$gray-600: #8E8C84;
$gray-700: #495057;
$gray-800: #3E3F3A;
$gray-900: #212529;
$black: #000;
$blue: #325D88;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #FF5151;
$orange: #F47C3C;
$yellow: #ffc107;
$green: #93C54B;
$teal: #20c997;
$cyan: #29ABE0;
$primary: $gray-100;
$secondary: $black;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $gray-200;
$dark: $gray-800;
$body-color: $gray-400;
$dropdown-link-color: $gray-600;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: $gray-200;
$navbar-dark-hover-color: $white;
$body-bg: #000;
$grid-gutter-width: 20px;
$font-size-base: 1.125rem;
$h1-font-size: $font-size-base;
$h2-font-size: $font-size-base;
$h3-font-size: $font-size-base;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$input-btn-padding-x: 2.5rem;
$input-btn-padding-y: 1.4rem;