/* 
Space Mono is a fixed-width font with four weights: 400, 400 Italic, 700, 700 Italic
*/

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--black: #000000;
	--dark: #101010;
	--primary: #f9f9f9;
	--tertiary: #393939;
	--secondary: #a9a9a9;
	--recording: #ff5151;
}

/* ==Basics 	*************************************************** */
/* ************************************************************** */

body {
	background-color: var(--black);
	color: var(--secondary);
	font-family: 'Space Mono', monospace;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 1.5px;
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 3.5px;
}

main .title {
	font-size: 13px;
}

/* ==Layout  **************************************************** */
/* ************************************************************** */

main {
	display: grid;
	place-items: center;
}

main .scene {
	margin: 2rem;
}

main .title {
	margin-bottom: 2rem;
	text-transform: uppercase;
}

main .directions {
	padding: 2rem;
	border-radius: 10px;
	margin-bottom: 2rem;
}

main .controls {
	margin-top: 2rem;
	align-self:flex-end;
}

main .webcam-monitor-container {
}

.scene .sidebar .title {
	display: flex;
	justify-content: space-between;
}

.scene .abstract {
	height: 100%;
	background-color: white;
	border-radius: 10px;
	padding-top: 10px;
}
.fullscreen {
	display: grid;
	grid-template-columns: 500px 820px;
	margin-top: 2vh;
	gap: 40px;
}

.row {
	margin: 0;
	padding: 0;
}

/* ==scenes  *************************************************** */
/* ************************************************************** */

#scene-00 {
	display: grid;
	grid-template-columns: 350px 200px 350px;
	grid-template-areas:
		'sidebar . abstract'
		'controls controls controls';
	margin-top: 10vh; /* 10% viewport height */
}

#scene-00 .sidebar {
	grid-area: sidebar;
	margin-bottom: 5rem;
}

#scene-00 .abstract {
	grid-area: abstract;
	margin-bottom: 5rem;
}

#scene-00 .controls {
	grid-area: controls;
	text-align: center;
}
#scene-00 .pretitle {
	height: 10rem;
	display: flex;
	width: 350px;
	margin-bottom: 2rem;
}
#scene-00 .pretitle p {
	align-self: flex-end;
}
#scene-00 canvas {
	border-radius: 10px;
}

/* ==P5 Helpers ************************************************* */
/* ************************************************************** */

#status {
	color: var(--secondary);
	margin: 0.25em 0 1.25em;
}

canvas {
}

.webcam-monitor-container video {
	border-radius: 10px;
	transform: scaleX(-1);
	filter: grayscale(1);
	width: 500px !important;
	object-fit: cover;
}

#scene-00 .webcam-monitor-container video {
	width: 350px !important;
}

/* ==Controls  ************************************************** */
/* ************************************************************** */

label {
	display: block;
	padding-bottom: 1em;
}

button,
.btn {
	background-color: var(--dark);
	color: var(--secondary);
	letter-spacing: 4px;
	padding: 1.25rem 3rem;
	border-radius: 10px;
	border: 2px solid var(--dark);
	min-width: 14rem;
	text-align: center;
	text-transform: uppercase;
}

button:hover,
.btn:hover {
	background-color: var(--dark);
	color: var(--primary);
	text-decoration: none;
}

.btn-primary,
button.primary,
.btn.primary {
	background-color: var(--primary) !important;
	color: var(--dark);
	border-color: var(--primary);
}
.btn-primary:hover,
button.primary:hover,
.btn.primary:hover {
	color: var(--dark) !important;
}

/* ==Utilities  ************************************************* */
/* ************************************************************** */
.rec,
button.rec:hover,
.btn.rec:hover {
	background-color: var(--recording);
	color: var(--primary);
}
.disabled,
button.disabled:hover,
.btn.disabled:hover {
	background-color: var(--black);
	color: var(--tertiary);
	border-color: var(--black);
}

button.rec:hover,
.btn.rec:hover {
}
.hidden {
	display: none !important;
}

.text-muted,
a.text-muted {
	color: #8e8c84;
}

strong {
	color: white;
	font-weight: bold;
	font-style: italic;
}

.nolist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.centered {
	text-align: center;
}

/* ==Misc  *************************************************** */
/* ************************************************************** */

/* Places the dat.GUI on the left */
.dg.a {
	/* float: left; */
}

#test-controls {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#source-controls {
	text-align: center;
}

.group {
	padding-bottom: 1rem;
}

.group a {
	display: block;
}
.slider-label {
	display: block;
}

div.sketch-controls .group {
	font-size: 0.9rem !important;
}

.white {
	color: #fff !important;
}
/* For expression graph */
table th {
	text-align: left;
	padding-right: 2rem;
}

.directions {
	background: #101010;
}

header div,
header h1 {
	font-size: 0.8125rem;
}

/* Step 0 */

body > #step-0 {
	padding-top: 10rem;
}

#step-0 .controls {
	margin: 50px !important;
}

#step-0 .abstract-preview {
	background-color: white;
	width: 380px;
	height: 380px;
}

.sketch-placeholder {
	width: 100%;
	height: 100%;
	background-color: #f8f9fa;
}

/* Step 3 */

.out-loud {
	font-family: 'Lora', serif;
}
.card {
	background: #e0e0e0;

	color: black;
}
