/* Space Mono is a fixed-width font with four weights: 400, 400 Italic, 700, 700 Italic */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,input,button {
	font-family: 'Space Mono', monospace;
}

/* ===colors */
:root {
	--black: #000000;
	--white: #ffffff;
	--primary: #f9f9f9;
	--light: #e0e0e0;
	--secondary: #a9a9a9;
	--tertiary: #393939;
	--dark: #101010;
	--recording: #ff5151;
}

body {
	display: grid;
	place-items: center;
	background-color: var(--black);
	color: var(--secondary);
	font-family: 'Space Mono', monospace;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1.5px;
}

body.light {
	background-color: var(--primary);
	color: var(--dark);
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

main.container {
	width: 1440px;
}

.intro-scene {
	/* display: flex; */
}

.intro-scene .scene-header {
	display: flex;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.intro-scene .scene-header section {
	margin: 40px;
	width: 50%;
}

.intro-scene .scene-header section:last-child {
	text-align: right;
}

.intro-scene .scene-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.intro-scene .scene-container .sidebar,
.intro-scene .scene-container .abstract {
	width: 350px;
	margin: 0 100px;
	/* margin-trim: 100px; */
}

.intro-scene .pretitle {
	display: flex;
	align-items: flex-end;
	height: 125px;
	margin-bottom: 20px;
}

.intro-scene .scene-footer {
	width: 100%;
	text-align: center;
	margin-top: 126px;
}

.scene {
	display: grid;
	grid-template-columns: 500px 820px;
	gap: 40px;
	margin: 0 40px;
}

.scene .sidebar .title {
	margin-top: 26px;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.scene .sidebar .directions {
	margin-top: 10px;
	padding: 10px 40px;
	background: var(--dark);
	border-radius: 10px;
}

.scene .sidebar .webcam-monitor-container {
	margin-top: 42px;
}


.scene .sidebar .webcam-monitor-container div {
	border-radius: 10px;
}

.scene .sidebar .controls {
	display: flex;
	justify-content: space-between;
	margin-top: 42px
}


.scene .abstract {
	margin-top: 40px;
}

canvas {
	border-radius: 10px;
}

/* ===controls */

label {
	display: block;
	padding-bottom: 1em;
}

button {
	background-color: var(--black);
	color: var(--secondary);
	font-size: 16px;
	letter-spacing: 4px;
	padding: 1.25rem 40px;
	border-radius: 10px;
	border: 2px solid var(--black);
	text-align: center;
	text-transform: uppercase;
}
/* 
button:hover {
	background-color: var(--dark);
	color: var(--primary);
	text-decoration: none;
} */

/* button.primary {
	background-color: var(--primary) !important;
	color: var(--dark);
	border-color: var(--primary);
}

button.primary:hover {
		color: var(--dark) !important;
} */

.rec-button {
	width: 300px;
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--black);
}

.rec-button:hover {
	width: 300px;
	background-color: var(--dark);
	border-color: var(--dark);
	color: var(--secondary);
}

.counter,.counter:hover {
	width: 164px;
	background-color: var(--black) !important;
	border-color: var(--black) !important;
	color: var(--secondary)
}

.redo-button {
	width: 164px;
	background-color: var(--black);
	border-color: var(--black);
}

.redo-button:hover {
	background-color: var(--dark) !important;
	border-color: var(--dark) !important;
}

.redo-button.disabled:hover {
	background-color: var(--dark);
	border-color: var(--dark);
}

/* ===utilities */
.hidden {
	display: none !important;
}

strong {
	font-style: italic;
}
