/* 
Space Mono is a fixed-width font with four weights: 
- 400
- 400 Italic
- 700
- 700 Italic
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--black: #000000;
	--dark: #101010;
	--primary: #f9f9f9;
	--secondary: #a3a3a3;
	--recording: #ff5151;
}

body {
	background-color: var(--black);
	color: var(--primary);
}
main.container {

	font-family: 'Space Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
	font-size: 1.125rem; /* 18px */
	line-height: 1.7rem; /* 27px */
	letter-spacing: 1.5px;
}
a {
	color: var(--primary);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


#status {
	color: var(--secondary);
	margin: 0.25em 0 1.25em;
}
a.text-muted {
	color: #8e8c84;
}

main {
	display: grid;
	place-items: center;
}
#test-controls {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
#source-controls {
	text-align: center;
}

.group {
	padding-bottom: 1rem;
}
.group a {
	display: block;
}
.slider-label {
	display: block;
}
#webcam-preview-placeholder video {
	object-fit: cover;
}

div.sketch-controls .group {
	font-size: 0.9rem !important;
}

.white {
	color: #fff !important;
}

label {
	display: block;
	padding-bottom: 1em;
}

button {
	background-color: var(--primary);
	color: var(--dark);
	letter-spacing: 4px;
	padding: 1.25rem 3rem;
	border-radius: 0.5rem;
	border: 2px solid var(--primary);
}

button:hover {
	background-color: var(--dark);
	color: var(--primary);
}

.centered {
	text-align: center;
}

/* For expression graph */
table th {
	text-align: left;
	padding-right: 2rem;
}

.directions {
	background: #101010;
}

header div,
header h1 {
	font-size: 0.8125rem;
}

/* Step 0 */

body > #step-0 {
	padding-top: 10rem;
}

#step-0 .controls {
	margin: 50px !important;
}

#step-0 .abstract-preview {
	background-color: white;
	width: 380px;
	height: 380px;
}

.abstract {
	height: 100%;
}
.sketch-placeholder {
	width: 100%;
	height: 100%;
	background-color: #f8f9fa;
}

/* Step 3 */

.out-loud {
	font-family: 'Lora', serif;
}
.card {
	background: #e0e0e0;

	color: black;
}
