@import url('https://fonts.googleapis.com/css2?family=Lora&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,
input,
button {
	font-family: 'Space Mono', monospace;
}

#scene-03 .prompter {
	font-family: 'Lora', serif;
}

/* ===colors */
:root {
	--black: #000000;
	--white: #ffffff;
	--primary: #f9f9f9;
	--light: #e0e0e0;
	--secondary: #a9a9a9;
	--tertiary: #393939;
	--dark: #101010;
	--recording: #ff5151;
}

body {
	display: grid;
	place-items: center;
	background-color: var(--black);
	color: var(--secondary);
	font-family: 'Space Mono', monospace;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1.5px;
}

body.light {
	background-color: var(--primary);
	color: var(--dark);
}

p {
	padding: 0;
	margin: 0;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

main.container {
	width: 1440px;
}

.nav-header {
	display: flex;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.nav-header section {
	margin: 38px 40px;
	width: 50%;
}

.nav-header section:last-child {
	text-align: right;
}

.intro-scene .scene-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.intro-scene .scene-container .sidebar,
.intro-scene .scene-container .abstract {
	width: 350px;
	margin: 0 100px;
	/* margin-trim: 100px; */
}

.intro-scene .pretitle {
	display: flex;
	align-items: flex-end;
	height: 105px;
	margin-bottom: 38px;
}

.intro-scene .scene-footer {
	width: 100%;
	text-align: center;
	margin-top: 126px;
}

.scene {
	display: grid;
	grid-template-columns: 500px 820px;
	gap: 40px;
	margin: 0 40px;
}

.scene .sidebar .title {
	margin-top: 38px;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.scene .sidebar .directions {
	margin-top: 22px;
	padding: 29px 40px 31px;
	background: var(--dark);
	border-radius: 10px;
	letter-spacing: 1px;
}

.light .scene .sidebar .directions {
	background: var(--primary);
}

#scene-04 .directions {
	padding: 41px 51px;
	letter-spacing: normal;
	height: 516px;
}

#scene-04 .directions p {
	margin-bottom: 1.9rem;
}

.scene .sidebar .webcam-monitor-container {
	margin-top: 40px;
}

.scene .sidebar .webcam-monitor-container div {
	border-radius: 10px;
}

#scene-03 .prompter {
	background-color: var(--primary);
	color: var(--black);
	padding: 38px 40px 42px;
	border-radius: 10px;
	height: 390px;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.5px;
}

#scene-03 .prompter p {
	margin-bottom: 1.9rem;
}

.scene .sidebar .controls {
	display: flex;
	justify-content: space-between;
	margin-top: 42px;
}

#scene-04 .controls {
	flex-direction: column;
	justify-content: flex-end;
}

#scene-04 .controls button {
	height: 70px;
	margin-bottom: 20px;
}

.scene .abstract {
	margin-top: 40px;
}

canvas {
	border-radius: 10px;
}

#about-page .nav-header {
	position: fixed;
	top: 0;
	width: 1440px;
}

#about-page article {
	margin: 172px 250px 65px;
	display: flex;
	justify-content: space-between;
}

#about-page article section {
	margin-bottom: 60px;
}

#about-page article .abstract {
	width: 460px;
	font-family: 'Space Mono';
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 22px;
}

#about-page article h1 {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 4.15px;
	margin-bottom: 30px;
}

#about-page article h2 {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 0;
}

#about-page article p {
	margin-bottom: 22px;
}

#about-page hr {
	margin: 61px 0 59px;
	border-color: var(--secondary);
}

dl,
dd,
dt {
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
	text-transform: uppercase;
}
dd {
	margin-bottom: 22px;
}

#about-page .sidebar {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-top: 77px;
}

#about-page .sidebar img {
	width: 301px;
	height: 198px;
}

figure {
	margin: 0;
	padding: 0;
	margin-bottom: 110px;
}

figcaption {
	margin-top: 9px;
	font-size: 12px;
	letter-spacing: 1.2px;
}

/* ===controls */

label {
	display: block;
	padding-bottom: 1em;
}

button {
	background-color: var(--black);
	color: var(--secondary);
	font-size: 16px;
	letter-spacing: 4px;
	padding: 1.25rem 40px;
	border-radius: 10px;
	border: 2px solid var(--black);
	text-align: center;
	text-transform: uppercase;
}

.light button {
}

button:hover {
	background-color: var(--dark);
	color: var(--secondary);
	text-decoration: none;
}

/* button.primary {
	background-color: var(--primary) !important;
	color: var(--dark);
	border-color: var(--primary);
}

button.primary:hover {
		color: var(--dark) !important;
} */

.rec-button {
	width: 300px;
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--black);
}

.rec-button:hover {
	width: 300px;
	background-color: var(--dark);
	border-color: var(--dark);
	color: var(--secondary);
}

.rec-button.rec,
.rec-button.rec:hover {
	background-color: var(--recording);
	border-color: var(--recording);
	color: var(--primary);
}

.counter,
.counter:hover {
	width: 200px;
	background-color: var(--black) !important;
	border-color: var(--black) !important;
	color: var(--secondary);
}

.redo-button {
	width: 160px;
	background-color: var(--black);
	border-color: var(--black);
}

.redo-button:hover {
	width: 160px;
	background-color: var(--dark) !important;
	border-color: var(--dark) !important;
}

.redo-button.disabled:hover {
	background-color: var(--dark);
	border-color: var(--dark);
}

#restart-button {
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--dark);
}

#restart-button:hover {
	border-color: var(--dark);
}
/* ===utilities */

.hidden {
	display: none !important;
}

strong {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}
